*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: soyjak;
    src: url("./assets/fonts/static/LeagueSpartan-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: soyjak;
    src: url("./assets/fonts/static/LeagueSpartan-Medium.ttf");
    font-weight: 500;
  }
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: soyjak;
    src: url("./assets/fonts/LeagueSpartan-VariableFont_wght.ttf");
    font-weight: 100 1000;
  }
}
